.container {
  padding: 30px;
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.item {
  & .question {
    cursor: pointer;
  }
  & .answer {
    max-height: 1000px;
    overflow: auto;
    transition: max-height 0.5s ease-in-out;
  }
  & .answer.hidden {
    transition: none;
    max-height: 0;
    overflow: hidden;

  }
}